[all]
 
towerfl.example.com ansible_host=192.168.53.12
 
control.example.com ansible_host=192.168.50.245
 
satellite.example.com ansible_host=192.168.50.177
[ungrouped]
[towerfl]
 
towerfl.example.com ansible_host=192.168.53.12
[bastions]
 
control.example.com ansible_host=192.168.50.245
[controls]
 
control.example.com ansible_host=192.168.50.245
[satellites]
 
satellite.example.com ansible_host=192.168.50.177
